server {
    listen 80;
    listen [::]:80;

    server_name ~^(www\.)?frontend.${APP_DOMAIN}$;
    root /var/www/frontend/dist;

    location / {
        try_files $uri $uri/ /index.html;
    }

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
}